@model string

@{
    Layout = null;
}

@*---------------------------------------------------?---------------------------------------------------*@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>Error.</h1>
    <h2>В процессе выполнения запроса произошла ошибка</h2>
 @ViewBag.Error
    <a href="javascript:history.back()"onMouseOver="window.status = 'Назад'; return true;">Назад</a>
</body>
</html>

