@using PhotoalbumMvcPL.ViewModels

@model PhotoViewModel

@{
    ViewBag.Title = "Edit";
}

<h2 class="page-header-center">Редактировать описание</h2>
@*---------------------------------------------------FORM FOR DESCRIPTION EDIT---------------------------------------------------*@
<div class="block-align-center">
    <img class="block-align-center" src="@Url.Action("GetImage", "Photo", new {photoId = Session["PhotoId"]},null)" />
</div>
<div class="block-align-center">
    @using (Html.BeginForm("Edit", "Photo"))
    {
        <div class="block-align-center">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="block-align-center">
            <input type="submit" value="Изменить описание" class="btn btn-default" />
        </div>
    }
</div>
@*---------------------------------------------------SCRIPT FOR VALIDATION HINT---------------------------------------------------*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}