@using PhotoalbumMvcPL.ViewModels

@model IEnumerable<SearchPhotoViewModel>


@{
    ViewBag.Title = "Search result";
}

@{
    if ((Model == null) || (Model.Count() == 0))
    {
        <h2>Фотографий с таким описанием не найдено</h2>
    }
    else
    {
<h2>Результаты поиска</h2>

    <table>
        <tr class="row-photo-table">
            <td class="data-photo-table">
                <table>
                    @{
        int i = 0;
        foreach (var item in Model)
        {
            if (i % 4 == 0)
            {
                if (item.ImagePhotoe != null)
                {
                    <tr>
                        <td>
                            <a href=@Url.Action("Picture","Photo", new{photoId=item.Id},null)>
                                <img class="img-responsive" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                            </a>
                        </td>
                    </tr>
                }
            }
            i++;
        }
                    }
                </table>
            </td>
            <td class="data-photo-table">
                <table>
                    @{
        int j = 0;
        foreach (var item in Model)
        {
            if (j % 4 == 1)
            {
                if (item.ImagePhotoe != null)
                {
                    <tr>
                        <td>
                            <a href=@Url.Action("Picture", "Photo", new { photoId = item.Id }, null)>
                                <img class="img-responsive" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                            </a>
                        </td>
                    </tr>
                }
            }
            j++;
        }
                    }
                </table>
            </td>
            <td class="data-photo-table">
                <table>
                    @{
        int k = 0;
        foreach (var item in Model)
        {
            if (k % 4 == 2)
            {
                if (item.ImagePhotoe != null)
                {
                    <tr>
                        <td>
                            <a href=@Url.Action("Picture", "Photo", new { photoId = item.Id }, null)>
                                <img class="img-responsive" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                            </a>
                        </td>
                    </tr>
                }
            }
            k++;
        }
                    }
                </table>
            </td>
            <td class="data-photo-table">
                <table>
                    @{
        int l = 0;
        foreach (var item in Model)
        {
            if (l % 4 == 3)
            {
                if (item.ImagePhotoe != null)
                {
                    <tr>
                        <td>
                            <a href=@Url.Action("Picture", "Photo", new { photoId = item.Id }, null)>
                                <img class="img-responsive" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                            </a>
                        </td>
                    </tr>
                }
            }
            l++;
        }
                    }
                </table>
            </td>
    </table>
    }
}