@model int

@{
    ViewBag.Title = "Photoes";
}

<div>
    @*---------------------------------------------------LINK BACK TO PHOTO IN ALBUM---------------------------------------------------*@
    <a href=@Url.Action("Picture","Photo", new{photoId=Model},null)>Назад</a>
</div>
<div>
    @*---------------------------------------------------PHOTO---------------------------------------------------*@
    <img src="@Url.Action("GetImage", "Photo", new {photoId = Model},null)" />
</div>
